280NPLIST;1.0;D;K;18;CPBundleIdentifierS;40;org.archipelproject.ToolbarDestroyButtonK;14;CPBundleLocaleS;2;enK;29;CPBundleInfoDictionaryVersiond;1;6K;19;CPBundlePackageTypeS;4;FMWKK;15;CPBundleVersionS;3;1.0K;12;CPBundleNameS;20;ToolbarDestroyButtonK;16;CPPrincipalClassS;32;TNToolbarDestroyButtonControllerK;17;PluginDisplayNameD;K;2;enS;9;Force OffK;2;frS;14;Forcer l'arrêtE;K;7;ToolTipD;K;2;enS;44;Destroy the current selected virtual machineK;2;frS;41;Détruit la machine virtuelle sélectionnéeE;K;28;AlternativePluginDisplayNameS;0;K;13;InsertionTypeS;7;toolbarK;12;ToolbarIndexS;3;105K;11;ToolbarIconS;8;icon.pngK;15;ToolbarItemOnlyd;1;1K;22;AlternativeToolbarIconS;12;icon-alt.pngK;20;CPBundleEnvironmentsA;S;7;BrowserS;8;CommonJSE;K;18;CPBundleExecutableS;23;ToolbarDestroyButton.sjK;36;CPBundleEnvironmentsWithImageSpritesA;S;7;BrowserE;E;