280NPLIST;1.0;D;K;7;CibNameS;18;GeneralWelcomeViewK;14;CPBundleLocaleS;2;enK;18;CPBundleIdentifierS;38;org.archipelproject.GeneralWelcomeViewK;29;CPBundleInfoDictionaryVersiond;1;6K;12;CPBundleNameS;18;GeneralWelcomeViewK;19;CPBundlePackageTypeS;4;FMWKK;15;CPBundleVersionS;3;1.0K;16;CPPrincipalClassS;30;TNGeneralWelcomeViewControllerK;16;FullscreenModuled;1;1K;13;InsertionTypeS;3;tabK;17;PluginDisplayNameD;K;2;enS;7;WelcomeK;2;frS;9;BienvenueE;K;20;SupportedEntityTypesA;S;7;generalE;K;8;TabIndexd;1;0K;13;UseModuleMenud;1;0K;23;TNArchipelHelpWindowURLS;35;http://welcome.archipelproject.org/K;20;CPBundleEnvironmentsA;S;7;BrowserS;8;CommonJSE;K;18;CPBundleExecutableS;21;GeneralWelcomeView.sjK;36;CPBundleEnvironmentsWithImageSpritesA;S;7;BrowserE;E;