280NPLIST;1.0;D;K;18;CPBundleIdentifierS;39;org.archipelproject.ToolbarScreenButtonK;14;CPBundleLocaleS;2;enK;29;CPBundleInfoDictionaryVersiond;1;6K;19;CPBundlePackageTypeS;4;FMWKK;15;CPBundleVersionS;3;1.0K;12;CPBundleNameS;19;ToolbarScreenButtonK;16;CPPrincipalClassS;31;TNToolbarScreenButtonControllerK;17;PluginDisplayNameD;K;2;enS;6;ScreenK;2;frS;5;ÉcranE;K;28;AlternativePluginDisplayNameS;0;K;13;InsertionTypeS;7;toolbarK;12;ToolbarIndexS;3;106K;11;ToolbarIconS;8;icon.pngK;15;ToolbarItemOnlyd;1;1K;22;AlternativeToolbarIconS;12;icon-alt.pngK;7;ToolTipD;K;2;enS;53;Display the VNC screen of the current virtual machineK;2;frS;56;Affiche l'écran VNC de la machine virtuelle sélectionnéeE;K;20;CPBundleEnvironmentsA;S;7;BrowserS;8;CommonJSE;K;18;CPBundleExecutableS;22;ToolbarScreenButton.sjK;36;CPBundleEnvironmentsWithImageSpritesA;S;7;BrowserE;E;