280NPLIST;1.0;D;K;7;CibNameS;18;HypervisorNetworksK;14;CPBundleLocaleS;2;enK;18;CPBundleIdentifierS;38;org.archipelproject.HypervisorNetworksK;29;CPBundleInfoDictionaryVersiond;1;6K;12;CPBundleNameS;18;HypervisorNetworksK;19;CPBundlePackageTypeS;4;FMWKK;15;CPBundleVersionS;3;1.0K;16;CPPrincipalClassS;30;TNHypervisorNetworksControllerK;16;FullscreenModuled;1;1K;13;InsertionTypeS;3;tabK;20;MandatoryPermissionsA;S;11;network_getE;K;17;PluginDisplayNameD;K;2;enS;8;NetworksK;2;frS;7;RéseauxE;K;20;SupportedEntityTypesA;S;10;hypervisorE;K;8;TabIndexd;1;3K;13;UseModuleMenud;1;1K;20;CPBundleEnvironmentsA;S;7;BrowserS;8;CommonJSE;K;18;CPBundleExecutableS;21;HypervisorNetworks.sjK;36;CPBundleEnvironmentsWithImageSpritesA;E;E;