280NPLIST;1.0;D;K;7;CibNameS;15;GroupManagementK;14;CPBundleLocaleS;2;enK;18;CPBundleIdentifierS;35;org.archipelproject.GroupManagementK;29;CPBundleInfoDictionaryVersiond;1;6K;12;CPBundleNameS;15;GroupManagementK;19;CPBundlePackageTypeS;4;FMWKK;15;CPBundleVersionS;3;1.0K;16;CPPrincipalClassS;27;TNGroupManagementControllerK;16;FullscreenModuled;1;1K;13;InsertionTypeS;3;tabK;17;PluginDisplayNameD;K;2;enS;5;GroupK;2;frS;6;GroupeE;K;20;SupportedEntityTypesA;S;5;groupE;K;8;TabIndexd;1;0K;13;UseModuleMenud;1;1K;20;CPBundleEnvironmentsA;S;7;BrowserS;8;CommonJSE;K;18;CPBundleExecutableS;18;GroupManagement.sjK;36;CPBundleEnvironmentsWithImageSpritesA;E;E;