280NPLIST;1.0;D;K;7;CibNameS;8;UserChatK;14;CPBundleLocaleS;2;enK;18;CPBundleIdentifierS;28;org.archipelproject.UserChatK;29;CPBundleInfoDictionaryVersiond;1;6K;12;CPBundleNameS;8;UserChatK;19;CPBundlePackageTypeS;4;FMWKK;15;CPBundleVersionS;3;1.0K;16;CPPrincipalClassS;20;TNUserChatControllerK;13;InsertionTypeS;3;tabK;17;PluginDisplayNameD;K;2;enS;4;ChatK;2;frS;10;DiscussionK;2;deS;4;ChatE;K;20;SupportedEntityTypesA;S;4;userS;10;hypervisorS;14;virtualmachineE;K;8;TabIndexd;2;10K;25;TNUserChatMaxMessageStored;2;20K;13;UseModuleMenud;1;1K;16;FullscreenModuled;1;1K;20;CPBundleEnvironmentsA;S;7;BrowserS;8;CommonJSE;K;18;CPBundleExecutableS;11;UserChat.sjK;36;CPBundleEnvironmentsWithImageSpritesA;S;7;BrowserE;E;