280NPLIST;1.0;D;K;7;CibNameS;19;VirtualMachineNOVNCK;14;CPBundleLocaleS;2;enK;18;CPBundleIdentifierS;39;org.archipelproject.VirtualMachineNOVNCK;29;CPBundleInfoDictionaryVersiond;1;6K;12;CPBundleNameS;19;VirtualMachineNOVNCK;19;CPBundlePackageTypeS;4;FMWKK;15;CPBundleVersionS;3;1.0K;16;CPPrincipalClassS;31;TNVirtualMachineNOVNCControllerK;13;InsertionTypeS;3;tabK;20;MandatoryPermissionsA;S;11;vnc_displayE;K;12;NOVNCFBURated;4;1413K;13;NOVNCheckRated;3;217K;14;NOVNCPreferSSLd;1;1K;17;PluginDisplayNameD;K;2;enS;11;VNC ConsoleK;2;frS;11;Console VNCE;K;20;SupportedEntityTypesA;S;14;virtualmachineE;K;8;TabIndexd;1;6K;13;UseModuleMenud;1;0K;20;CPBundleEnvironmentsA;S;7;BrowserS;8;CommonJSE;K;18;CPBundleExecutableS;22;VirtualMachineNOVNC.sjK;36;CPBundleEnvironmentsWithImageSpritesA;S;7;BrowserE;E;