280NPLIST;1.0;D;K;18;CPBundleIdentifierS;36;org.archipelproject.HypervisorHealthK;29;CPBundleInfoDictionaryVersiond;1;6K;14;CPBundleLocaleS;2;enK;12;CPBundleNameS;16;HypervisorHealthK;19;CPBundlePackageTypeS;4;FMWKK;15;CPBundleVersionS;3;1.0K;16;CPPrincipalClassS;28;TNHypervisorHealthControllerK;17;PluginDisplayNameD;K;2;enS;6;HealthK;2;frS;5;SantéE;K;13;InsertionTypeS;3;tabK;8;TabIndexd;1;0K;20;SupportedEntityTypesA;S;10;hypervisorE;K;13;UseModuleMenud;1;0K;16;FullscreenModuled;1;1K;7;CibNameS;16;HypervisorHealthK;36;TNArchipelHealthRefreshStatsIntervald;1;5K;32;TNArchipelHealthAutoRefreshStatsd;1;1K;42;TNArchipelHealthStatsHistoryCollectionSized;3;100K;27;TNArchipelHealthMaxLogEntryd;2;50K;20;MandatoryPermissionsA;S;11;health_infoS;14;health_historyS;11;health_logsE;K;20;CPBundleEnvironmentsA;S;7;BrowserS;8;CommonJSE;K;18;CPBundleExecutableS;19;HypervisorHealth.sjK;36;CPBundleEnvironmentsWithImageSpritesA;S;7;BrowserE;E;