280NPLIST;1.0;D;K;18;CPBundleIdentifierS;37;org.archipelproject.HypervisorVMCastsK;14;CPBundleLocaleS;2;enK;29;CPBundleInfoDictionaryVersiond;1;6K;19;CPBundlePackageTypeS;4;FMWKK;15;CPBundleVersionS;3;1.0K;12;CPBundleNameS;17;HypervisorVMCastsK;16;CPPrincipalClassS;29;TNHypervisorVMCastsControllerK;17;PluginDisplayNameD;K;2;enS;7;VMCastsK;2;frS;7;VMCastsE;K;13;InsertionTypeS;3;tabK;8;TabIndexS;1;4K;20;SupportedEntityTypesA;S;10;hypervisorE;K;13;UseModuleMenud;1;1K;16;FullscreenModuled;1;1K;7;CibNameS;17;HypervisorVMCastsK;20;MandatoryPermissionsA;S;13;vmcasting_getE;K;20;CPBundleEnvironmentsA;S;7;BrowserS;8;CommonJSE;K;18;CPBundleExecutableS;20;HypervisorVMCasts.sjK;36;CPBundleEnvironmentsWithImageSpritesA;E;E;