280NPLIST;1.0;D;K;28;AlternativePluginDisplayNameS;10;ConferenceK;14;CPBundleLocaleS;2;enK;22;AlternativeToolbarIconS;12;icon-alt.pngK;7;CibNameS;7;MUCChatK;18;CPBundleIdentifierS;27;org.archipelproject.MUCChatK;29;CPBundleInfoDictionaryVersiond;1;6K;12;CPBundleNameS;7;MUCChatK;19;CPBundlePackageTypeS;4;FMWKK;15;CPBundleVersionS;3;1.0K;16;CPPrincipalClassS;19;TNMUCChatControllerK;13;InsertionTypeS;7;toolbarK;17;PluginDisplayNameD;K;2;enS;10;ConferenceK;2;frS;10;ConférenceK;2;deS;10;ConferenceE;K;24;TNArchipelMUCDefaultRoomS;16;archipel-generalK;27;TNArchipelMUCDefaultServiceS;37;conference.jabber.archipelproject.orgK;11;ToolbarIconS;8;icon.pngK;12;ToolbarIndexS;3;501K;15;ToolbarItemOnlyd;1;0K;7;ToolTipS;48;This module allows to talk in a jabber chat roomK;20;CPBundleEnvironmentsA;S;7;BrowserS;8;CommonJSE;K;18;CPBundleExecutableS;10;MUCChat.sjK;36;CPBundleEnvironmentsWithImageSpritesA;S;7;BrowserE;E;