280NPLIST;1.0;D;K;18;CPBundleIdentifierS;37;org.archipelproject.ToolbarPlayButtonK;14;CPBundleLocaleS;2;enK;29;CPBundleInfoDictionaryVersiond;1;6K;19;CPBundlePackageTypeS;4;FMWKK;15;CPBundleVersionS;3;1.0K;12;CPBundleNameS;17;ToolbarPlayButtonK;16;CPPrincipalClassS;29;TNToolbarPlayButtonControllerK;17;PluginDisplayNameD;K;2;enS;3;RunK;2;frS;8;DémarrerE;K;28;AlternativePluginDisplayNameS;0;K;13;InsertionTypeS;7;toolbarK;12;ToolbarIndexS;3;102K;11;ToolbarIconS;8;icon.pngK;15;ToolbarItemOnlyd;1;1K;22;AlternativeToolbarIconS;12;icon-alt.pngK;7;ToolTipD;K;2;enS;42;Start the current selected virtual machineK;2;frS;41;Démarre la machine virtuelle sélectionnéeE;K;20;CPBundleEnvironmentsA;S;7;BrowserS;8;CommonJSE;K;18;CPBundleExecutableS;20;ToolbarPlayButton.sjK;36;CPBundleEnvironmentsWithImageSpritesA;S;7;BrowserE;E;