280NPLIST;1.0;D;K;7;CibNameS;23;VirtualMachineSnapshotsK;14;CPBundleLocaleS;2;enK;18;CPBundleIdentifierS;43;org.archipelproject.VirtualMachineSnapshotsK;29;CPBundleInfoDictionaryVersiond;1;6K;12;CPBundleNameS;23;VirtualMachineSnapshotsK;19;CPBundlePackageTypeS;4;FMWKK;15;CPBundleVersionS;3;1.0K;16;CPPrincipalClassS;35;TNVirtualMachineSnapshotsControllerK;16;FullscreenModuled;1;1K;13;InsertionTypeS;3;tabK;20;MandatoryPermissionsA;S;12;snapshot_getS;16;snapshot_currentE;K;17;PluginDisplayNameD;K;2;enS;8;SnaphotsK;2;frS;11;InstantanésE;K;20;SupportedEntityTypesA;S;14;virtualmachineE;K;8;TabIndexd;1;4K;13;UseModuleMenud;1;1K;20;CPBundleEnvironmentsA;S;7;BrowserS;8;CommonJSE;K;18;CPBundleExecutableS;26;VirtualMachineSnapshots.sjK;36;CPBundleEnvironmentsWithImageSpritesA;E;E;