280NPLIST;1.0;D;K;7;CibNameS;20;VirtualMachineDrivesK;14;CPBundleLocaleS;2;enK;18;CPBundleIdentifierS;40;org.archipelproject.VirtualMachineDrivesK;29;CPBundleInfoDictionaryVersiond;1;6K;12;CPBundleNameS;20;VirtualMachineDrivesK;19;CPBundlePackageTypeS;4;FMWKK;15;CPBundleVersionS;3;1.0K;16;CPPrincipalClassS;32;TNVirtualMachineDrivesControllerK;16;FullscreenModuled;1;1K;13;InsertionTypeS;3;tabK;20;MandatoryPermissionsA;S;10;drives_getE;K;17;PluginDisplayNameD;K;2;enS;5;DisksK;2;frS;7;DisquesE;K;20;SupportedEntityTypesA;S;14;virtualmachineE;K;8;TabIndexd;1;3K;13;UseModuleMenud;1;1K;20;CPBundleEnvironmentsA;S;7;BrowserS;8;CommonJSE;K;18;CPBundleExecutableS;23;VirtualMachineDrives.sjK;36;CPBundleEnvironmentsWithImageSpritesA;S;7;BrowserE;E;