280NPLIST;1.0;D;K;28;AlternativePluginDisplayNameS;8;Hide MapK;14;CPBundleLocaleS;2;enK;22;AlternativeToolbarIconS;12;icon-alt.pngK;7;CibNameS;14;ToolbarMapViewK;18;CPBundleIdentifierS;34;org.archipelproject.ToolbarMapViewK;29;CPBundleInfoDictionaryVersiond;1;6K;12;CPBundleNameS;14;ToolbarMapViewK;19;CPBundlePackageTypeS;4;FMWKK;15;CPBundleVersionS;3;1.0K;16;CPPrincipalClassS;19;TNMapViewControllerK;13;InsertionTypeS;7;toolbarK;17;PluginDisplayNameD;K;2;enS;8;Map ViewK;2;frS;5;CarteK;2;deS;8;Map ViewE;K;11;ToolbarIconS;8;icon.pngK;12;ToolbarIndexS;3;503K;15;ToolbarItemOnlyd;1;0K;7;ToolTipD;K;2;enS;46;Show a world map and localize your hypervisorsK;2;frS;55;Affiche une carte du monde et localise vos hyperviseursE;K;20;CPBundleEnvironmentsA;S;7;BrowserS;8;CommonJSE;K;18;CPBundleExecutableS;17;ToolbarMapView.sjK;36;CPBundleEnvironmentsWithImageSpritesA;S;7;BrowserE;E;