280NPLIST;1.0;D;K;18;CPBundleIdentifierS;44;org.archipelproject.ToolbarPlatformRequestVMK;14;CPBundleLocaleS;2;enK;29;CPBundleInfoDictionaryVersiond;1;6K;19;CPBundlePackageTypeS;4;FMWKK;15;CPBundleVersionS;3;1.0K;12;CPBundleNameS;24;ToolbarPlatformRequestVMK;16;CPPrincipalClassS;36;TNToolbarPlatformRequestVMControllerK;17;PluginDisplayNameD;K;2;enS;6;New VMK;2;frS;11;Nouvelle VME;K;28;AlternativePluginDisplayNameS;0;K;13;InsertionTypeS;7;toolbarK;12;ToolbarIndexS;3;107K;11;ToolbarIconS;8;icon.pngK;15;ToolbarItemOnlyd;1;1K;22;AlternativeToolbarIconS;12;icon-alt.pngK;7;ToolTipD;K;2;enS;65;Ask a new virtual machine to your cloud (needs an ejabberd patch)K;2;frS;84;Demande une nouvelle machine virtuelle à la plateforme (nécéssite un patch ejabberd)E;K;20;CPBundleEnvironmentsA;S;7;BrowserS;8;CommonJSE;K;18;CPBundleExecutableS;27;ToolbarPlatformRequestVM.sjK;36;CPBundleEnvironmentsWithImageSpritesA;S;7;BrowserE;E;