280NPLIST;1.0;D;K;7;CibNameS;24;VirtualMachineAppliancesK;14;CPBundleLocaleS;2;enK;18;CPBundleIdentifierS;44;org.archipelproject.VirtualMachineAppliancesK;29;CPBundleInfoDictionaryVersiond;1;6K;12;CPBundleNameS;24;VirtualMachineAppliancesK;19;CPBundlePackageTypeS;4;FMWKK;15;CPBundleVersionS;3;1.0K;16;CPPrincipalClassS;36;TNVirtualMachineAppliancesControllerK;16;FullscreenModuled;1;1K;13;InsertionTypeS;3;tabK;20;MandatoryPermissionsA;S;13;appliance_getE;K;17;PluginDisplayNameD;K;2;enS;10;AppliancesK;2;frS;7;PaquetsE;K;20;SupportedEntityTypesA;S;14;virtualmachineE;K;8;TabIndexd;1;2K;13;UseModuleMenud;1;1K;20;CPBundleEnvironmentsA;S;7;BrowserS;8;CommonJSE;K;18;CPBundleExecutableS;27;VirtualMachineAppliances.sjK;36;CPBundleEnvironmentsWithImageSpritesA;E;E;