280NPLIST;1.0;D;K;7;CibNameS;22;VirtualMachineControlsK;14;CPBundleLocaleS;2;enK;18;CPBundleIdentifierS;42;org.archipelproject.VirtualMachineControlsK;29;CPBundleInfoDictionaryVersiond;1;6K;12;CPBundleNameS;22;VirtualMachineControlsK;19;CPBundlePackageTypeS;4;FMWKK;15;CPBundleVersionS;3;1.0K;16;CPPrincipalClassS;34;TNVirtualMachineControlsControllerK;13;InsertionTypeS;3;tabK;20;MandatoryPermissionsA;S;4;infoE;K;17;PluginDisplayNameD;K;2;enS;8;ControlsK;2;frS;9;ContrôlesE;K;20;SupportedEntityTypesA;S;14;virtualmachineE;K;8;TabIndexd;1;0K;26;TNArchipelControlsMaxVCPUsd;3;255K;35;TNArchipelControlsScreenshotRefreshd;2;10K;33;TNArchipelControlsCpuUsageRefreshd;1;5K;13;UseModuleMenud;1;1K;20;CPBundleEnvironmentsA;S;7;BrowserS;8;CommonJSE;K;18;CPBundleExecutableS;25;VirtualMachineControls.sjK;36;CPBundleEnvironmentsWithImageSpritesA;S;7;BrowserE;E;