280NPLIST;1.0;D;K;18;CPBundleIdentifierS;38;org.archipelproject.ToolbarPauseButtonK;14;CPBundleLocaleS;2;enK;29;CPBundleInfoDictionaryVersiond;1;6K;19;CPBundlePackageTypeS;4;FMWKK;15;CPBundleVersionS;3;1.0K;12;CPBundleNameS;18;ToolbarPauseButtonK;16;CPPrincipalClassS;30;TNToolbarPauseButtonControllerK;17;PluginDisplayNameD;K;2;enS;5;PauseK;2;frS;5;PauseE;K;28;AlternativePluginDisplayNameS;0;K;13;InsertionTypeS;7;toolbarK;12;ToolbarIndexS;3;103K;11;ToolbarIconS;8;icon.pngK;15;ToolbarItemOnlyd;1;1K;22;AlternativeToolbarIconS;12;icon-alt.pngK;7;ToolTipD;K;2;enS;49;Pause/Resume the current selected virtual machineK;2;frS;62;Pause/Reprend l'execution de la machine virtuelle sélectionnéeE;K;20;CPBundleEnvironmentsA;S;7;BrowserS;8;CommonJSE;K;18;CPBundleExecutableS;21;ToolbarPauseButton.sjK;36;CPBundleEnvironmentsWithImageSpritesA;S;7;BrowserE;E;