280NPLIST;1.0;D;K;7;CibNameS;11;PermissionsK;14;CPBundleLocaleS;2;enK;18;CPBundleIdentifierS;31;org.archipelproject.PermissionsK;29;CPBundleInfoDictionaryVersiond;1;6K;12;CPBundleNameS;11;PermissionsK;19;CPBundlePackageTypeS;4;FMWKK;15;CPBundleVersionS;3;1.0K;16;CPPrincipalClassS;23;TNPermissionsControllerK;16;FullscreenModuled;1;1K;13;InsertionTypeS;3;tabK;20;MandatoryPermissionsA;S;17;permission_getownS;15;permission_listE;K;17;PluginDisplayNameD;K;2;enS;11;PermissionsK;2;frS;11;PermissionsE;K;20;SupportedEntityTypesA;S;14;virtualmachineS;10;hypervisorE;K;8;TabIndexd;2;20K;13;UseModuleMenud;1;0K;20;CPBundleEnvironmentsA;S;7;BrowserS;8;CommonJSE;K;18;CPBundleExecutableS;14;Permissions.sjK;36;CPBundleEnvironmentsWithImageSpritesA;E;E;