280NPLIST;1.0;D;K;7;CibNameS;23;VirtualMachineSchedulerK;14;CPBundleLocaleS;2;enK;18;CPBundleIdentifierS;43;org.archipelproject.VirtualMachineSchedulerK;29;CPBundleInfoDictionaryVersiond;1;6K;12;CPBundleNameS;23;VirtualMachineSchedulerK;19;CPBundlePackageTypeS;4;FMWKK;15;CPBundleVersionS;3;1.0K;16;CPPrincipalClassS;25;TNVirtualMachineSchedulerK;16;FullscreenModuled;1;1K;13;InsertionTypeS;3;tabK;20;MandatoryPermissionsA;S;14;scheduler_jobsS;17;scheduler_actionsE;K;17;PluginDisplayNameD;K;2;enS;9;SchedulerK;2;frS;14;PlannificationE;K;20;SupportedEntityTypesA;S;14;virtualmachineS;10;hypervisorE;K;8;TabIndexd;1;8K;13;UseModuleMenud;1;1K;20;CPBundleEnvironmentsA;S;7;BrowserS;8;CommonJSE;K;18;CPBundleExecutableS;26;VirtualMachineScheduler.sjK;36;CPBundleEnvironmentsWithImageSpritesA;E;E;